*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: Raleway;
  --accent-font: "STIX Two Text";
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font, sans-serif);
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #b3b3b3;
  --accent-color: transparent;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

a:focus,
button:focus {
  outline: none;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid var(--text-color);
}

.header {
  padding-top: 10%;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-bottom: 40px;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  padding-block: 20px;
}

.header__theme-toggler {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.header__theme-button {
  position: relative;
  border: none;
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
  background-color: transparent;
}

.header__theme-button:hover {
  text-decoration: underline;
}

.header__theme-button_is-active {
  font-weight: 700;
}

button:disabled {
  pointer-events: none;
}

.header__theme-button_is-active::after {
  content: "";
  position: absolute;
  left: -4px;
  bottom: 0.3ch;
  width: calc(100% + 2 * 3px);
  height: 0.5ch;
  z-index: -1;
  background-color: var(--accent-color);
}

.theme_dark .header__theme-button_is-active::after {
  background-image: url("../images/pattern.svg");
}

.heading {
  font-family: var(--accent-font, serif);
  font-weight: 600;
  text-align: center;
  line-height: 90%;
}